#thumbnail {
    font-size: 50px;
    position: absolute;
    height: 70px;
    width: 400px;
    margin: -150px 0px 0px -200px;
    top: 60%;
    left: 50%;
    animation-name: logo, fadein;
    animation-delay: 2s, 0s;
    animation-duration: 1.5s, 1s;
    animation-fill-mode:forwards, forwards;
    animation-timing-function: ease-in-out;
    }

@keyframes fadein {
    from{
            opacity: 0;
    }
    to{
            opacity: 1;
    }
}
    
@keyframes logo {
    from {
                    
    }
    
    to {
            font-size: 20px;
            width: 160px;
            height: 35px;
            top: 18%;
            left: 11.5%;
    }
}