* {margin: 0; padding: 0;font-family: 'Black Han Sans', sans-serif;}
li {list-style: none;}
a {color: black; text-decoration: none;}

.blind {display: none;}

.logo {
    display: inline-block;
}

.menu{
    text-align: center;
}

.menu li {
    display: inline-block;
    padding: 8px 30px;
    position: relative; 
}

.club {
    position: absolute; 
    top: 100%; 
    left: 0;
    display: none;
}

.services {
    position: absolute; 
    top: 100%; 
    left: 0;
    display: none;
}

.dropMenu_item {
    font-size: 13px;
}

.dropMenu {
    padding-left: 4px;
    padding-right: 4px;
}

.menu li:hover .club {display: block;}
.menu li:hover .services {display: block;}